{%- from 'icinga2/map.jinja' import icinga2 with context %}
{%- set fqdn = salt.grains.get('fqdn') -%}

{% if fqdn != icinga2.master_minion_id -%}
object Endpoint "{{icinga2.master_minion_id}}" {
  host = "{{icinga2.master_minion_id}}"
  port = "5665"
}

object Zone "master" {
  endpoints = [ "{{icinga2.master_minion_id}}" ]
}
{%- endif %}

object Endpoint NodeName {
}

object Zone ZoneName {
  endpoints = [ NodeName ]
  {% if fqdn != icinga2.master_minion_id -%}
  parent = "master"
  {%- endif %}
}
